%table#background-image.table.table-bordered
  %tr
    %th{:colspan => 20} Defect Data Distribution
  %tr
    %th{:colspan => 2} Month
    %th{:rowspan => 4} Total Review Defects
    %th{:rowspan => 4} Total Testing Defects
    %th{:rowspan => 4} Inprocess Defects
    %th{:rowspan => 4} Delivered Defects


