%table.table.table-bordered.table-condensed#background-image
  %tr
    %th Month
    %th Test Design Planned
    %th Test Design Developed
    %th Total No.of Defects in Test Design
    %th Test Design Quality
    %th Test Cases Planned for Execution
    %th Test Cases Actually Executed
    %th Test Execution (%)
    %th Test Coverage (%)
  %tr
    %td Jan 2014
    %td 72
    %td 72
    %td 72
    %td 72
    %td 72
    %td 72
    %td 72
    %td 72  