%table.table.table-bordered.table-condensed#background-image
  %tr
    %th Month
    %th Test Design Planned
    %th Test Design Developed
    %th Total No.of Defects in Test Design
    %th Test Design Quality
    %th Test Cases Planned for Execution
    %th Test Cases Actually Executed
    %th Test Execution (%)
    %th Test Coverage (%)
  %tr
    %td Jan 2014
    %td=$development_effectiveness['Test Design Planned']
    %td=$development_effectiveness['Test Design Developed']
    %td=$development_effectiveness['Defects in Test Design']
    %td 0
    %td=$development_effectiveness['Test Cases Planned for Execution']
    %td=$development_effectiveness['Test Cases Actually Executed']
    %td=percent_of($development_effectiveness['Test Cases Actually Executed'],$development_effectiveness['Test Cases Planned for Execution'])
    %td=$development_effectiveness['Test Coverage (%)']