%table#background-image.table.table-bordered
  %tr
    %th{:colspan => 20} Software Quality
  %tr
    %th Month
    %th Total Software Requirements Delivered
    %th Total Software Requirements Passed FTR (by customer)
    %th Software Requirements Functioning (%)
    %th Cumulative Software Requirements Functioning (%)
  %tr
    %th
    %th
    %th
    %th
    %th  