%table.table.table-bordered
  %tr
    %th Month
    %th Work Request Complexity
    %th Work Request Delivered by Complexity (Nos.)
    %th.success New Requirements
    %th.warning Change Requests
    %th.danger Delivered Defects
    %th Work Requests Delivered On-time (%)
    %th Work Request  Backlog 
  %tr
    %td{:rowspan => "3"} Jan 2014
    %td.danger High
    %td 5
    %td 4
    %td 6
    %td 5
    %td{:rowspan => "3", :style => "text-align:center;font-size:24px;padding-top:35px;"} 60%
    %td{:rowspan => "3", :style => "text-align:center;font-size:24px;padding-top:35px;"} 40%
  %tr
    %td.warning Medium
    %td 5
    %td 4
    %td 6
    %td 5
  %tr
    %td.success Low
    %td 5
    %td 4
    %td 6
    %td 5
  %tr
    %td{:rowspan => "3"} Dec 2014
    %td.danger High
    %td 5
    %td 4
    %td 6
    %td 5
    %td{:rowspan => "3", :style => "text-align:center;font-size:20px;padding-top:35px;"} 50%
    %td{:rowspan => "3", :style => "text-align:center;font-size:20px;padding-top:35px;"} 60%
  %tr
    %td.warning Medium
    %td 5
    %td 4
    %td 6
    %td 5
  %tr
    %td.success Low
    %td 5
    %td 4
    %td 6
    %td 5 