%table.table.table-bordered
  %tr
    %th Month
    %th No. of Work Requests Assigned
    %th No. of Work Requests Committed 
    %th.success No. of Work Requests Delivered On-time
    %th.danger No. of Work Requests Delivered With Delay
    %th.info Total Work Requests Delivered (Nos.)
  %tr
    %td Dec 2014
    %td 9
    %td 5
    %td 4
    %td 6
    %td 5
  %tr
    %td Jan 2014
    %td 9
    %td 5
    %td 4
    %td 6
    %td 5  
     