%table.table.table-bordered
  %tr
    %th Month
    %th Work Request Complexity
    %th Work Request Delivered by Complexity (Nos.)
    %th.success New Requirements
    %th.warning Change Requests
    %th.danger Delivered Defects
  %tr
    %td{:rowspan => "3"} Dec 2014
    %td.danger High
    %td 5
    %td 4
    %td 6
    %td 5
  %tr
    %td.warning Medium
    %td 5
    %td 4
    %td 6
    %td 5
  %tr
    %td.success Low
    %td 5
    %td 4
    %td 6
    %td 5   
     