/ .well{:style => "margin-top: 10px;"}
.col-md-12
  %h3
    .col-md-4
      = image_tag "http://blogs.atlassian.com/wp-content/uploads/Atlassian-ondemand-logo.png", :size => '25x25'
      Project Name Here
    .col-md-4
      Metrics of month: January 2014
    .col-md-4
      Project Lead: Vara Prasad     
  .col-md-12
    .panel.panel-default
      .panel-heading Metric: Work request Delivery Cycle Time; Work Request Delivery Effort
      .panel-body
        = render :partial => "work_req_del_cycle_time"
        = render :partial => "work_req_cycle_knobs"
    .panel.panel-default
      .panel-heading Metric: Work Request Complexity
      .panel-body
        = render :partial => "work_req_complexity"
.clearfix
