// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
\.node circle {
cursor: pointer;
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}

.node text {
font: 14px sans-serif;
stroke: #666;
fill: #666;
}

path.link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}

#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
}
#background-image th
{
	font-weight: normal;
	font-size: 11px;
	color: #555;
	font-weight: 900;
}

#background-image td
{
	padding: 9px 12px;
	color: #666;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}
#background-image tbody td
{
	
}
#background-image tbody tr:hover td
{
    background-color: #fffefa;
    color:#333;
}
